.auction-house-item{
    height: 60px;
}
.AH-item-selected{
   outline: 2px solid red;
}
#all-ah-items{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    height:100%;
}
.auction-image{
    border: 1px solid black;
    height: 50px;
    width: 70px;
    margin: auto;
}
.auction-image img {
    height: 100%;
}
#AH-purchase-button-row {
    display:flex;
    justify-content: center;
}
.auction-item-center-col {
    padding: 0px;
    vertical-align: middle!important;
}
th {
    padding: 3px!important;
}
tbody {
    margin: 1000px!important;
}
.address-text {
    font-size: 12px;
}