#mainUpgrade{
    width:700px;
    margin:auto;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    height:350px;
    text-align: center;
}
.item-box-upgrade{
    border: 2px solid #4B4B4B;
    margin-left: 10px;
    margin-right:10px;
    padding:0px;
    height: 210px;
}
.item-box-upgrade:hover{
    border: 2px solid #dc3545;
    font-size: 20px;
}

.upgradeContent{    
    width:100px;
    height:30px;
    margin:auto;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
}
.upgrade-row{
    flex-grow: 1;
    margin:7px 0px 10px 0px;
    justify-content: space-around;
    margin-top:20px;
}
#box{
    display:flex;
    height:100%;
}
#upgrade-button-row{
    display:flex;
    justify-content: center;
}
.modalButton{
    background-color: #FB2652;
    color:white;
    border: 0px;
    font-size: 14px;
    border-radius: 20px;
    padding:8px 12px 8px 12px;
}
.item-image{
    width: 50%;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.image-background{
    height:100%;
    width:100%;
}
.itemName{
    padding-top:10px;
}

.itemBoxFill{
    height:100%;
    Width:100%;
}
#removeButton{
    margin-right:auto;
}
